@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: none;
}

.wrapper .sidebar {
  background: linear-gradient(37deg, rgba(0, 55, 89, 1) 9%, rgba(194, 23, 36, 1) 92%);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #fcfeff;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}



.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: rgb(5, 68, 104);

  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: rgb(255, 255, 255);
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0 30px;

}


.wrapper .section .top_navbar .hamburger a:hover {
  color: #49d8e2;
}

.wrapper .section .container {
  margin: 30px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
}

body.active .wrapper .sidebar {
  left: -225px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}

.top_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_navbar img {
  margin-left: auto;
}

/* Estilo para el botón de hamburguesa */
.wrapper .top_navbar .hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgba(0, 55, 89, 1) 9%;
  transition: transform 0.3s ease;
  /* Agregamos esta línea para la animación */
}

/* Estilo para el icono dentro del botón de hamburguesa */
.wrapper .top_navbar .hamburger i {
  transition: transform 0.3s ease;
}


.button{
  display: flex;
  align-items: self-start;
  padding: 13px 29px;
  color: #fff;
  border-right: none;
  border-bottom: 1px solid #fcfeff;
  background: linear-gradient(27deg, rgba(0,55,89,1) 11%, rgb(72, 44, 70) 90%);
  position: fixed;
  font-size: 16px;
  text-align: justify;
  cursor: pointer;
}



.button .icon {
  color: #dee4ec;
  width: 30px;
  margin-right: 5px;
  align-self: flex-start;

}



.button:hover,
.button.active{
  color: rgb(5, 68, 104);

  background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.button:hover{
  color: #0c7db1;

}

.button:hover:before,
.button.active:before{
  display: block;
}

.button:hover .icon,
.button.active .icon{
  color: #0c7db1;

}

.button span {
  margin-right: 76px;
}
