<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<body [ngClass]="{'active': isClassEnabled}">
  <div class="wrapper">
    <div class="section">

 <div class="container">
  <router-outlet></router-outlet>
 </div>
</div>
     <div class="sidebar">
         <div class="profile">
             <img src="../../../../assets/layout/images/login/logo_salvador.jpg" alt="profile_picture">
             <h3>Tu Dashboard</h3>
             <p>Cliente</p>
         </div>
         <ul>
             <li>
                 <a href="https://salvadorsv.website/" target="_blank" class="active">
                     <span class="icon"><i class="fas fa-home"></i></span>
                     <span class="item">Landing</span>
                 </a>
             </li>
             <li>
                 <a routerLink="/dashboard/detalle-deposito">
                     <span class="icon"><i class="fas fa-desktop"></i></span>
                     <span class="item">Deposito</span>
                 </a>
             </li>
             <li>
                 <a routerLink="/dashboard/transaciones-enviadas">
                     <span class="icon"><i class="fas fa-user-friends"></i></span>
                     <span class="item">Transaciones enviadas</span>
                 </a>
             </li>
             <li>
                 <a routerLink="/dashboard/transaciones-recibidas">
                     <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                     <span class="item">transaciones recibidas</span>
                 </a>
             </li>
             <li>
                 <a routerLink="/dashboard/detalle-retiros">
                     <span class="icon"><i class="fas fa-database"></i></span>
                     <span class="item">Retiros</span>
                 </a>
             </li>

             <li>
                 <a href="/login">
                     <span class="icon"><i class="fas fa-cog"></i></span>
                     <span class="item">Logout</span>
                 </a>
             </li>
         </ul>
     </div>

 </div>
</body>

