<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
<div class="html">
  <div class="body" id="top">
    <p-menubar>
      <ng-template pTemplate="start">
        <a pTooltip="¿Quieres regresar a la web principal?" href="https://salvadorsv.com/"><img src="../../../../assets/layout/images/dashboard/sv.png" class="logo" /></a>
      </ng-template>
      <ng-template pTemplate="end">
        <a href="#" class="btn btn-primary">
          <i class="pi pi-user"></i>
          Login
        </a>
      </ng-template>
    </p-menubar>
    <!-- Stepper -->

    <main>
      <section class="section features" id="features" aria-label="features">
        <p class="section-subtitle">Registrate con salvador</p>
        <h4 class="section-title">¡Estas muy cerca de lograrlo!</h4>
        <div class="container">
          <div class="card flex justify-content-center">
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
